
.navbar{
   margin-bottom: 0px;
    padding: 0px!important;
}
.footer{
    background-color: black;
    padding: 25px;   

}
.dennis{
    color: red;
    font-size: 20px;
    font-weight: bolder;
}
.jumbotron{
	background-image: url(/portfolio-repo/image2.jpg);
	background-position: center;
    background-repeat: no-repeat;
    height: 5
    min-height: 50%;
    background-position: center;
    margin-bottom: 0px;
    
      
} 
.John{
    background-color: #000000;
    margin-top: 0%!important;
  




}
.jacob{
    margin-bottom: 0px!important;


}
.text1{
    text-align: left;
    color: #fff;
    font-weight: bolder;
    text-justify: auto;    
}
.text2{
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    color: #fff;
}
.text3{
    text-align: right;
}
.bg-1 { 
    /* background-color: black; */
    color: #ffffff;
    margin-top: px;
    height: 250px;         
}
  .img-circle{
      border-radius: 100px;
      background: #000000!important;
      margin-left: 80px;
      margin-top: 20px;
}
.container-fluid{
    margin-top: 1%;
}


